.footer {
    margin-top: 10px;
    width: 100%;
    background-color: #3a4e48;
    height:200px;
    color: #beb0a7;
    display: grid;
    grid-template-columns: 1fr  1fr;
  }
  
  .text-muted {
    
    margin-left: 20px;
    font-size: 14px;
  }
  .nav-footer-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .line{
    margin-left: 5px;
    margin-top: 10px;


    height: 1px;
    width: 170px;
    background-color: #beb0a7;
  }
  .nav-footer-container a {
    margin-top: 10px;
    margin-left: 20px;
    width: 170px;
    text-decoration: none;
    color: #beb0a7;
  }

  .nav-footer-container a:hover {
    background-color: #6a7676;
    
  }
  
  .footer-right {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
  }
  