.blog-content {
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #beb0a7;
    color: #3a4e48;
    display: flex;
    justify-content: center;
}